body{
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}

.profile-card{
    background: white;
    border-radius: 15px;
    width: 290px;
}
.profile-card .profile-image img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 5px solid black;
}

.profile-card .name{
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin: 15px;
}

.profile-card .bio{
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.profile-card .social-profile{
    margin-top: 15px;
}

.profile-card .social-profile .btn{
    text-decoration: none;
    background-color: purple;
    color: white;
    padding: 12px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
    display: inline-block;
    
}
.profile-card .social-profile .btn:hover{
    background-color: black;
    color: white;
}
.profile-card .social-profile .view-profile{
    background-color: purple;
    color: black;
    /* border: 2px solid black; */
    text-decoration: none;
    padding: 12px;
    border-radius: 25px;
    font-size: 18px;

}
.profile-card .social-profile .view-profile:hover{
    background-color: black;
    color: white;
}